html {
    background-color: darkslategray;
    font-family: Vetdana, Georgia, 'Times New Roman', Times, serif;
}
footer {
    background-color: crimson;
    padding: 24px;
}
body {
    margin: 0;
}
.headder {
    padding: 24px;
}
.book-cover {
    width: 200px;
    height: auto;
  }
.main-page-book-review {
    background-color: ivory;
    border: 20px solid plum;
    padding: 24px;
}
main {
    max-width: 800px;
    margin: auto;
  }
  .book-rating {
      font-size: 125%;
  }
  .book-authors {
      color: dimgray
  }